<div class="album-detail-container" >

    <div class="row">

        <img src="{{albumCtrl.album.images[0].url}}" height="100" width="100" alt="">
        <h2 class="album_artista">{{albumCtrl.album.artists[0].name}}</h2>
        <h3 class="album_nombre">{{albumCtrl.album.name}}</h3>

    </div>

    <div class="row">

        <ul class="album_tracks">
            <li ng-repeat="item in albumCtrl.tracks">{{item.name}}</li>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            
        </ul>
    </div>
    
</div>
