<div class="container" >
	
	<div class="column">

		<div class="row">
			
			<header class="header">
				<h3 class="welcome">Welcome to</h3>		
				<h2 class="logo">SpotiSearch</h2>
				<h3 class="desc">Search your favourite songs over Spotify, just enter an artist's name in the
					following search box and enjoy!</h3>
			</header>

		</div>

		<div class="row">

			<div class="input">
				
				<input type="text" class="inpsearch" placeholder="Type an Artist Name.." ng-model="indexCtrl.artist"/>

				<button class="btnsearch" ng-click="indexCtrl.getArtists(indexCtrl.artist)">Search</button>
			
			</div>
		</div>

		<div class="row favs">
			
			<h3 class="fav">Favorite Songs</h3>

			<div class="fav-tracks" ng-repeat="track in indexCtrl.favtracks">
							
				<img class="fav-img" src="{{track.album.images[0].url}}">
				<p class="fav-name">{{track.name}}</p>

			</div>

		</div>
		

	</div>

</div>
